# Validation

Checking if data is reasonable / within bounds

## Range check

> Data between minimum and maximum

## Length check

> Number of characters within set limit

## Type check

> Data is the correct type

## Presence check

> Data is present / has been entered

## Format check

> Data meets a specific order

<br>

# Verification

Checking if data is entered accurately / same as original

## Visual check

> Comparing data entered side by side

## Double entry check

> Same data entered twice, compared
