# Validation

> Automated check \
> Check if data is valid

## Range check

Data between minimum and maximum

## Length check

Number of characters within set range

## Type check

Data is the correct type

## Presence check

Data is present / has been entered

## Format check

Data meets a specific order

## Check digit

Data has no errors

<br>

# Verification

> Verify if data is entered accurately / same as original \
> From one source to another

## Visual check

Comparing data entered side by side

## Double entry check

Same data entered twice, compared
